@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Nerko+One&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    height: 100vh;
    margin: 0;
    align-items: center;
    overflow: hidden;
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: radial-gradient(at bottom right, #c3c3c3 0, #c3c3c3 8px, rgba(195,195,195,0.2) 8px, rgba(195,195,195,0.2) 16px, rgba(195,195,195,0.75) 16px, rgba(195,195,195,0.75) 24px, rgba(195,195,195,0.25) 24px, rgba(195,195,195,0.25) 32px, rgba(195,195,195,0.3) 32px, rgba(195,195,195,0.3) 40px, rgba(195,195,195,0.75) 40px, rgba(195,195,195,0.75) 48px, rgba(195,195,195,0.2) 48px, rgba(195,195,195,0.2) 56px, transparent 56px, transparent 64px), radial-gradient(at top left, transparent 0, transparent 8px, rgba(195,195,195,0.2) 8px, rgba(195,195,195,0.2) 16px, rgba(195,195,195,0.75) 16px, rgba(195,195,195,0.75) 24px, rgba(195,195,195,0.3) 24px, rgba(195,195,195,0.3) 32px, rgba(195,195,195,0.25) 32px, rgba(195,195,195,0.25) 40px, rgba(195,195,195,0.75) 40px, rgba(195,195,195,0.75) 48px, rgba(195,195,195,0.2) 48px, rgba(195,195,195,0.2) 56px, #c3c3c3 56px, #c3c3c3 64px, transparent 64px, transparent 160px);
    background-blend-mode: multiply;
    background-size: 64px 64px, 64px 64px;
    background-color: #9e9e9e;
}

.app{
    display: flex;
    flex-direction: column;
    background: #e50616;
    padding: 0 30px 30px 0;
    margin: 15px 0 0 0;
    border-radius: 15px;
    align-items: center;
    filter: drop-shadow(
        1px 2px 8px var(--shadow-color)
    );
}

.darker.app{
    --shadow-color: #460101;
}

.header{
    font-family: 'Nerko One', cursive;    
    color: #eeed24;
    font-size: 32px;
    text-shadow: 5px;
}

.footer{
    font-size: 18px;
    padding: 15px 0px;
    color: white;
}

h1{
    margin: 0;
    text-shadow: -1px 0 #a81717, 0 2px #a81717, 2px 0 #a81717, 0 -1px #a81717;    
}

#grid {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: white;
    border-style: solid;
    border-color: #a81717;
    border-width: 1px;
}

.row {
    display: flex;
    height: 100%;
 }

.square {
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 20px;
    justify-content:space-between;
}

.size{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: white;
    border: none;
    color:#460101;
    padding: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    inset: 0 3px rgba(#460101, .6); 
    background: linear-gradient(white,rgb(109, 109, 109));
    background-size: auto 150%;
    background-position: 0 100%;      
}

button:hover{
    background-position: 0 50%;
}

button:active {
    color: #791919;
    background-position: 0 50%;
    background: white;
}

button, legend, label{
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
}

button:hover{
    opacity: 1.5;
}

fieldset{
    border-style: solid;
    border-width: 1px;
    width: 185px;
}